<div position: relative>
  <img src="<%= asset_path 'home/1年.gif'%>"width="27%" height="39%" style="position:absolute; top:5px; left:70px"/>
  <img src="<%= asset_path 'home/２年.gif'%>"width="27%" height="39%" style="position:absolute; top:190px; left:365px"/>
  <img src="<%= asset_path 'home/３年.gif'%>"width="27%" height="39%" style="position:absolute; top:5px; left:720px"/>
  <img src="<%= asset_path 'home/今日の運勢.gif'%>"width="27%" height="41%" style="position:absolute; top:435px; left:55px"/>
  <img src="<%= asset_path 'home/年間カレンダー.png'%>"width="34%" height="53%" style="position:absolute; top:410px; left:683px"/>
  </div>