<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <br>
    <%= form.label :内容 %>
    <%= form.text_field :content, id: :event_content %>
  </div>

  <div class="field">
    <%= form.label :行事日付 %>
    <%= form.date_select :eventday,id: :event_eventday %>
  </div>

  <div class="actions">
    <%= form.submit :更新 %>
  </div>
<% end %>
