<p id="notice"><%= notice %></p>

<p>
<font color='white' size="3"><strong>行事:</strong>
  <%= @event.content %>
</p>

<p>
<font color='white' size="3"><strong>行事日付:</strong>
  <%= @event.eventday.strftime('%Y年%m月%d日') %>
</p>

<br>
<br>
<%= link_to '編集', edit_event_path(@event) , :style=>"color:white;" %> 
<%= link_to '戻る', events_path , :style=>"color:white;" %>
