<%= form_with(model: info, local: true) do |form| %>
  <% if info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(info.errors.count, "error") %> prohibited this info from being saved:</h2>

      <ul>
      <% info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <br>
  <font color='white' size="3">
    <%= form.label :タイトル %>
    <%= form.text_field :title, id: :info_title %>
  </div>

  <div class="field">
    <%= form.label :内容　%>
    <%= form.text_field :content, id: :info_content %>
  </div>

  <div class="field">
    <%= form.label :締め切り　%>
    <%= form.date_select :limit, id: :info_limit %>
  </div>

  <div class="field">
    <%= form.label :画像 %>
    <%= form.text_field :filename, id: :info_filename %>
  </div>

  <div class="assets">
    <%= form.submit :更新 %>
  </div>
<% end %>
