<p id="notice"><%= notice %></p>

<h1><font color="white">インフォメーション</font></h1>

<font color="black"><table border="2"></font>
  
  <thead>
    <tr>
      <th></th>
      <th><font color="white">タイトル</font></th>
      <th><font color="white">締め切り</font></th>
      <th><font color="white">締め切りまでの残りの日にち</font></th>
      
    </tr>
  </thead>
      <%= link_to '追加画面へ', new_info_path %><br>
      <%= link_to 'TOP画面へ' , '/' %></br>
      

  
  <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td width="8%">
          <% if Isnew(info.created_at, 4) %>
            <img src="<%= asset_path 'info/new.png'%>"width="100%">
          <% end %>
        </td>                    
        <td width="15%"><%= link_to info.title, info %></td>
        <td width="15%"><%= info.limit %></td>
        <td>
          <% if IsLimitNear(info.limit, 6) %>
            <font color="red">
          <% end %>
          <%= GetRemainDays(info.limit) %>
          <% if IsLimitNear(info.limit, 6) %>
            </font>
          <% end %>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>
