<p id="notice"><%= notice %></p>

<h1>インフォメーション</h1>

<table border="2">
  
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>締め切り</th>
      <th>締め切りまでの残りの日にち</th>
      <%= link_to '追加画面へ', new_info_path %>
      
    </tr>
  </thead>

  <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td width="8%"><img src="<%= asset_path 'info/new.png'%>"width="100%">
          
        </td>                    
        <td width="15%"><%= link_to info.title, info %></td>
        <td width="15%"><%= info.limit %></td>
        <td>
          <% if IsLimitNear(info.limit, 6) %>
            <font color="red">
          <% end %>
          <%= GetRemainDays(info.limit) %>
          <% if IsLimitNear(info.limit, 6) %>
            </font>
          <% end %>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>
