<p id="notice"><%= notice %></p>

<h1>インフォメーション</h1>

<table border="2">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>締め切り</th>
      <th>締め切りまでの残りの日にち</th>
    </tr>
  </thead>

  <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td><%= link_to info.title, info %></td>
        <td><%= info.content %></td>
        <td><%= info.limit %></td>
        <td><%= link_to 'Edit', edit_info_path(info) %></td>
        <td><%= link_to 'Destroy', info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '追加画面へ', new_info_path %>
