<p id="notice"><%= notice %></p>
<font color='white' size="5">確認画面</font>
<p>
<br>
<font color="white"><strong>タイトル:</strong>
  <%= @info.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @info.content %>
</p>

<p>
  <strong>締め切り:</strong>
  <%= @info.limit.strftime("%Y年%m月%d日")%>
</p>

<p>
  <strong>締め切りまでの残りの日数:</strong>
  <%
   @sa = (@info.limit - Date.today ).to_i 
  %>
  <% if @sa > -1 %>
    <%= @sa %> 
  <% end%>
</p>


<p>
  <strong>画像:</strong>
  <%= @info.filename %>
</p>

</font>

<br>
<font size="3"><%= link_to '戻る', infos_path, :style=>"color:white;" %> %>
<br>
<font size="3"><%= link_to '編集画面へ', edit_info_path(@info), :style=>"color:white;" %> %> 