<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @info.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @info.content %>
</p>

<p>
  <strong>締め切り:</strong>
  <%= @info.limit %>
</p>

<p>
  <strong>締め切りまでの残りの日数:</strong>
  <%
   @sa = (@info.limit - Date.today ).to_i 
  %>
  <% if @sa > -1 %>
    <%= @sa %> 
  <% end%>
</p>


<p>
  <strong>画像:</strong>
  <%= @info.filename %>
</p>


<%= link_to '戻る', infos_path %>
<%= link_to '編集画面へ', edit_info_path(@info) %> 