<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @info.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @info.content %>
</p>

<p>
  <strong>締め切り:</strong>
  <%= @info.limit %>
</p>

<p>
  <strong>画像:</strong>
  <%= @info.filename %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
